.body-violet {
  background-color: #836FFF;
}

.logo-deco--3 {
  width: 15px;
  height: 17px;
  top: -5px;
  left: -80px;
}

.logo-deco--4 {
   width: 15px;
  height: 17px;
  right: -64px;
  bottom: -10px;
}

.main__inner-2 {
  /* margin: 0 -30px; */
  /* padding: 0 10px; */
  max-width: 450px;
  position: relative;
  overflow-x: hidden;
}

.main__text-2 {
  position: absolute;
  right: 10px;
  top: 0;
  text-align: right;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  max-width: 175px;
}

.main__img-2 {
  display: block;
  max-width: 100%;
}

@media (min-width: 431px) {
  .main__inner-2 {
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  
  .main__text-2 {
    font-size: 16px;
    line-height: 100%;
  }
}

@media screen and (max-height: 940px) {
  .main__img-wrapper {
    max-width: 350px;
    margin: 0 -20px;
  }

  .main__img-2 {
    padding: 0;
  }

  .main__container-2 {
    padding: 0;
  }

  .main__text-2 {
    font-size: 16px;
  }
}

@media screen and (max-height: 700px) {
  .main__img-2 {
    padding: 0 30px;
  }
}

@media screen and (max-height: 640px) {
  .main__img-2 {
    padding: 0 60px;
  }

  .main__text-2 {
    font-size: 14px;
    max-width: 150px;
  }
}
